# https://github.com/cachix/devenv/blob/90caab7613e2e4ff0e7e027b98027e8b68550399/docs/src/integrations/github-actions.md?plain=1#L128-L160
name: "Test"

on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [macos-15]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Build the devenv shell and run any pre-commit hooks
        run: devenv test

      - name: Run a single command in the devenv shell
        run: devenv shell hello
      - run: devenv shell release
      - run: tar -czvf spam.tar.gz .
      # https://github.com/softprops/action-gh-release/blob/0adea5aa98b89355a3ff602e3f2d18bc4d77e7aa/README.md?plain=1#L55-L57
      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2
        if: github.ref_type == 'tag'
        with:
          files: spam.tar.gz

# https://github.com/softprops/action-gh-release/blob/0adea5aa98b89355a3ff602e3f2d18bc4d77e7aa/README.md?plain=1#L236-L237
permissions:
  contents: write
